<p id="notice"><%= notice %></p>

<%= @record.inspect %>

<p>
  <strong>Bibid:</strong>
  <%#= @record.bibid %>
</p>

<%# These need to be disabled form fields %>

<p>
  <strong>Marcxml:</strong>
  <%#= @record.marcxml %>
</p>

<p>
  <strong>Rdf:</strong>
  <%#= @record.rdf %>
</p>

<%= link_to 'Convert another record', records_path %>
