// Place all the styles related to the Converter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-left: 3em;
  background-color: #bfcfff; //#9fb7ff;
}

section.content {
  margin-top: 3em;
}

label, .label {
  text-transform: uppercase;
}

#new_converter {

  section.field, section.actions {
    margin-top: 2em;
  }
  
  input[type="text"] {
    margin-left: 1em;
  }

  .actions {
  
    margin-top: 1.5em;
    
    #submit {
      background-color: gray;
      color: white;
      border: 1px solid gray;
      width: 7em;
      height: 2.5em;
        text-transform: uppercase;
  font-weight: bold;
    }
  }
}

#show {

  //width: 80%; 
  
  label, .label {
    font-weight: bold;
  }
  
  #result {
  
    margin-top: 1em;
   
    section.output {
      float: left;
      
      textarea {
        width: 90%;
        height: 100em;
        padding: 1em;
      }

    } // section.output
 
     #marcxml-output {
      width: 36%;
    }
    
    #bibframe-output {
      width: 54%;
    }   
    
  } // #result

} // #show
    



